.item {
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-bottom: 300px;
}

.block {
  transform-style: preserve-3d;
}

.text {
  width: 100%;
  max-width: 350px;
}

.inner {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 40px;
  background: #fff;
  transform-style: preserve-3d;
}

.title {
  transform-style: preserve-3d;
  transform: translateX(25%) translateY(90%) translateZ(200px);
  width: 250px;
  font-size: 4.3rem;
  font-weight: 700;
}

@media (max-width: 400px) {
  .item {
    margin-bottom: 100px;
  }

  .inner {
    height: 350px;
  }

  .title {
    width: 70%;
    transform: translateX(25%) translateY(160%) translateZ(200px);
    font-size: 3rem;
  }
}
