.section {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 250px;
}

.block {
  flex-basis: 45%;
}

.img {
  height: 90px;
  width: auto;
  margin-bottom: 60px;
}

.img img {
  height: 100%;
  width: auto;
}

.files {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.list {
  flex-basis: 20%;
}

.link {
  display: block;
  width: max-content;
  padding: 10px 20px;
  margin-bottom: 16px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.link:hover {
  opacity: 0.6;
}

.text {
  flex-basis: 70%;
}

@media (max-width: 1400px) {
  .text {
    flex-basis: 60%;
  }
}

@media (max-width: 1070px) {
  .text {
    flex-basis: 50%;
  }
}

@media (max-width: 900px) {
  .section {
    flex-direction: column;
  }

  .text {
    flex-basis: 60%;
  }
}

@media (max-width: 480px) {
  .text {
    flex-basis: 50%;
  }
}

@media (max-width: 400px) {
  .section {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .files {
    flex-direction: column-reverse;
  }

  .img {
    width: max-content;
    margin: 100px auto 50px;
  }

  .list {
    flex-basis: unset;
    width: max-content;
    margin: 0 auto;
  }

  .text {
    flex-basis: unset;
    margin-bottom: 50px;
    text-align: center;
  }
}