.item {
  padding: 40px;
  min-height: 350px;
  margin-bottom: 40px;
}

.itemTitle {
  margin-bottom: 30px;
}

.logo {
  width: max-content;
  padding: 5px;
  margin-bottom: 20px;
}

.img {
  height: 30px;
  width: 30px;
}