.form {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
}

.errors {
  position: relative;
  top: -13px;
  max-width: 300px;
  color: rgb(250, 102, 102);
}

.input,
.textarea {
  display: block;
  max-width: 328px;
  margin-bottom: 15px;
  padding: 10px 15px;
  background: rgba(112, 112, 112, 0.13);
  border-radius: 8px;
  border: none;
}

.textarea {
  height: 180px;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 1.2rem;
  color: rgb(112, 112, 112);
}

.btn {
  width: max-content;
  margin-top: 10px;
  font-size: 1.4rem;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.label {
  position: relative;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.label input {
  position: absolute;
  height: 1;
  width: 1;
  opacity: 0;
  visibility: hidden;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
}

.label:focus input ~ .checkmark,
.label:hover input ~ .checkmark {
  background-color: rgb(204, 204, 204);
}

.label input:checked ~ .checkmark {
  background-color: rgb(33, 150, 243);
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.label input:checked ~ .checkmark::after {
  display: block;
}

.label .checkmark::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checktext {
  display: block;
  max-width: 240px;
  padding-left: 23px;
  user-select: none;
}

.success {
  max-width: 328px;
  border-radius: 8px;
  padding: 10px;
  background: rgb(54, 159, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

@media (max-width: 460px) {
  .success,
  .errors,
  .input,
  .textarea {
    max-width: 280px;
  }

  .label {
    max-width: 200px;
  }

  .checkmark {
    top: 67%;
  }
}
