.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto 150px;
}

.text {
  max-width: 210px;
  margin: 0;
}

:global(.page-relink-circle) {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

:global(.page-relink-circle::after),
:global(.page-relink-circle::before) {
  content: '';
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  transition: 250ms ease-in-out;
}

:global(.page-relink-circle::after) {
  left: -50%;
  background: url('../../images//svg/next-blue.svg') no-repeat;
}

.link:hover :global(.page-relink-circle::after) {
  left: 54%;
}

.link:hover :global(.page-relink-circle::before) {
  left: 150%;
}
