.wrp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgb(40, 40, 40);
  background-color: rgba(40, 40, 40, 0.4);
  backdrop-filter: blur(12px);
  overflow: hidden;
}

.scroll {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 120%;
  overflow-x: scroll;
  transition: 0.3s ease-in-out;
}

.inner {
  position: relative;
  width: max-content;
  height: max-content;
  margin: 5% auto;
  padding: 50px;
  background: #fff;
  color: #000;
  transition: 0.3s ease-in-out;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  padding: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 40%;
  width: 1px;
  background: #000;
}

.close::before {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

@media (max-width: 460px) {
  .inner {
    padding: 50px 20px;
  }
}
