@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding-top: 8rem;
    flex-grow: 2;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
    min-height: 7rem;
}

.loader {
    width: 100%;
    height: 100vh;
    background: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

picture {
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Delete all animations and transitions for people who prefer not to use them */

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0.2rem 0.1rem rgb(54, 159, 255);
}

input,
select,
textarea,
button,
a {
    outline: none;
}

button {
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
}

h1,
h2,
h3 {
    margin-bottom: 3rem;
}

p {
    margin-bottom: 2rem;
}

h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.6rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
}

p,
time {
    font-size: 1.6rem;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.container {
    width: 86%;
    margin: 0 auto;
}

@media (max-height: 750px) {
    main {
        padding-top: 2%;
    }
}

@media (max-height: 600px) {
    html {
        font-size: 9px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .footerMain {
        display: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 2300px) {
    html {
        font-size: 18px;
    }
}
