@import './normalize.css';
@import './base.css';
@import './keyframes.css';

.easeInOut {
  position: relative;
  transition: 0.45s ease-in-out;
}

.btn-blue {
  padding: 6px 16px;
  background: rgba(54, 159, 255, 0.8);
  border-radius: 16px;
  border: none;
  font-weight: 700;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

.btn-blue:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
