.container {
  position: sticky;
  display: flex;
  margin-top: 100vh;
}

.param,
.value {
  margin: 0;
  padding: 20px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.01);
}

.param {
  margin-right: 16px;
  width: 300px;
}

.value {
  width: 100%;
}
