.section,
.beforeChart {
  width: 50%;
  margin: 0 auto 25rem;
  text-align: center;
  outline: none;
}

.beforeChart {
  margin-bottom: 8rem;
}

.chart {
  width: 80%;
  margin: 0 auto 10rem;
}

.chartText {
  width: 60%;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.end {
  width: 50%;
  text-align: center;
  margin: 20rem auto 18rem;
}

@media (max-width: 880px) {
  .end {
    width: 100%;
  }

  .chart {
    width: 100%;
  }

  .chartText {
    width: 80%;
    margin: 2rem auto 0;
  }

  .section,
  .beforeChart {
    width: 100%;
  }
}
