.article {
  margin-top: 400px;
}

.desc {
  width: 60%;
  margin: 100px auto 500px;
  text-align: center;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80vh;
  padding-right: 15%;
}

.section:nth-last-of-type(1) {
  margin-bottom: 50vh;
}

.left,
.leftRevers,
.right {
  flex-basis: 40%;
}

.left,
.leftRevers {
  position: sticky;
  top: 150px;
}

.left::before,
.leftRevers::before {
  content: '';
  position: absolute;
  top: 45vh;
  left: 0;
  width: 75vw;
  height: 400px;
  z-index: 105;
}

.leftRevers::before {
  left: unset;
  right: 0;
}

@media (max-width: 980px) {
  .section {
    padding-right: 0;
  }

  .left::before,
  .leftRevers::before {
    width: 90vw;
  }
}

@media (max-width: 860px) {
  .article {
    margin-top: 100px;
  }

  .section {
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
  }

  .section:nth-last-of-type(1) {
    margin-bottom: 100px;
  }

  .left::before,
  .leftRevers::before {
    display: none;
  }

  .section:not(:nth-of-type(2n-1)) {
    flex-direction: column-reverse;
  }

  .left,
  .leftRevers {
    position: static;
    margin: 80px 0 40px;
    text-align: center;
  }
}
