.enter {
  transform: translateY(-100%);
  opacity: 0;
}

.enterActive {
  transform: translateY(0);
  opacity: 1;
  transition: 500ms ease-in-out;
}

.exit {
  transform: translateY(0);
  opacity: 1;
}

.exitActive {
  transform: translateY(-100%);
  opacity: 0;
  transition: 500ms ease-in-out;
}
