.enter :global(.popup) {
    transform: translateY(-6rem);
}

.enterActive :global(.popup) {
    transform: translateY(0);
    transition: 300ms ease-in-out;
}

.exit :global(.popup) {
    transform: translateY(0);
}

.exitActive {
    opacity: 0;
    transition: 300ms linear;
}

.exitActive :global(.popup) {
    transform: translateY(-6rem);
    transition: 200ms ease-in-out;
}
