.enter {
    transform: translateY(-100%);
    opacity: 0;
}

.enterActive {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.exit {
    transform: translateY(0);
    opacity: 1;
}

.exitActive {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
