.enter,
.appearDone {
  transform: translateY(-100px);
  opacity: 0;
}

.enterActive {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease-in-out 0.5s;
}

.exit {
  transform: translateY(0);
  opacity: 1;
}

.exitActive,
.exitDone {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.5s ease-in-out 0.5s;
}
