.section {
  min-height: 80vh;
}

.title {
  position: relative;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.emoji {
  position: relative;
  height: auto;
  width: 140px;
  margin: 0 auto 5%;
}

:global(.page-scroll) {
  position: relative;
  height: 30px;
  width: 18px;
  margin: 10% auto 14%;
  border-radius: 18px;
}

:global(.page-scroll::before) {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 1px;
}
