.inner {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7rem 0 4rem;
}

@media screen and (min-width: 540px) {
    .inner {
        padding: 6rem 0 4rem;
    }
}

.leftBlock {
    display: flex;
    align-items: center;
}

@media (max-height: 600px) {
    .inner {
        padding: 2rem 0;
    }
}
