.menu__circle {
  stroke-dasharray: 138.286, 207.429;
}

.menu__btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.menu__text {
  display: block;
  margin-left: 12px;
  font-size: 1.4rem;
  line-height: 1;
}

.menu__svg {
  position: relative;
  transition: 0.3s ease-in-out;
}

.menu__svg rect {
  transition: 0.3s ease-in-out;
}

.menu__svg--rotate {
  transform: rotateZ(90deg);
}
