#root {
  overflow: hidden;
}

.link {
  text-decoration: underline;
}

.blockLeft,
.blockRight {
  margin: 130px 0 280px;
}

.blockRight .text,
.blockRight .video {
  margin-left: auto;
}

.video {
  width: 1000px;
  border-radius: -10px;
}

.text {
  width: 700px;
  margin-top: 100px;
  padding: 40px 100px 40px 40px;
}
